* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

/* body {
     background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
     overflow: hidden;
 } */

 .container {
    height: 100vh;
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
    overflow: hidden;
 }

 .snowflake {
     display: inline-block;
     color: #fff;
     font-size: 2rem;
     padding: 1rem;
     animation: falling 2s linear forwards infinite;
     transform: translateY(-20vh);
 }

 .snowflake::before {
     content: "*";
 }

 @keyframes falling {
     from {
         transform: translateY(-100vh);
     }
     to {
         transform: translateY(100vh);
     }
 }

 h1 {
     text-align: center;
     color: cornflowerblue;
 }

 .wrapper {
    height: 100vh;
    width: 100%;
    background: url(imgs/background.png)Bottom center/cover no-repeat;
 }